.header__logo {
  margin: 0 auto 0 0;
  width: 142px;
  height: 33px;
}

@media (max-width: 920px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media (max-width: 420px) {
  .header__logo {
    width: 103px;
    height: 24px;
  }
}
