.profile__edit-btn-icon {
  background-image: url(../../../images/edit-btn_pen.svg);
  width: 10px;
  height: 10px;
  float: left;
}

@media (max-width: 420px) {
  .profile__edit-btn-icon {
    width: 9px;
    height: 9px;
    position: relative;
    left: -3px;
  }
}
