.card__delete-btn {
  background-image: url(../../../images/delete-btn.svg);
  width: 18px;
  height: 19px;
  transition: opacity .5s;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.card__delete-btn:hover {
  opacity: .5;

}
