.profile__avatar {
  background-image: url(../../../images/avatar_jak.jpg);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
}

.profile__avatar:hover:after {
  content: url(../../../images/edit-avatar-pen.svg);
}

@media (max-width: 520px) {
  .profile__avatar {
    display: flex;
    margin: 0 auto;
  }
}
