.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  border: none;
  padding: 0;
}

.profile__avatar:hover:after {
  content: url(../../../images/edit-avatar-pen.svg);
}

@media (max-width: 520px) {
  .profile__avatar {
    display: flex;
    margin: 0 auto;
  }
}
