.profile__edit-btn {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: inherit;
  margin-left: 18px;
  align-self: flex-end;
  margin-bottom: 10px;
  transition: opacity .5s;
  cursor: pointer;
  background-image: url(../../../images/edit-btn_pen.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-btn:hover {
  opacity: .6;
}

@media (max-width: 520px) {
  .profile__edit-btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 420px) {
  .profile__edit-btn {
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 18px;
    height: 18px;
  }
}
