.header__content {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 100%;
  padding-bottom: 41px;
  box-sizing: border-box;
}

@media (max-width: 420px) {
  .header__content {
    padding-bottom: 31px;
  }
}
